/* Fonts
font-family: 'Great Vibes', cursive;
font-family: 'Libre Baskerville', serif;
font-family: 'Mulish', sans-serif;
*/

/* Simple CSS reset */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 14px;
}


body{
    background-image: url(https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-background.png);
}

.landing-cover {
    width: 100%;
}

.landing-cover {
    position: absolute;
}

.header-block {
    width: 200px;
    height: 200px;
    position: relative;
    top: 50vh;
    left: 50vw;
    background-color: blue;
}

.header-headline {
    font-size: 112px;
}
